.threat {
	padding: 87px 0 100px;
}

.threat__inner {
	display: flex;
	flex-direction: column;
}

.threat__title {
	margin-bottom: 16px;
}

.threat__text {
	font-size: 16px;
	line-height: 1.26;
	margin-bottom: 34px;
}

.threat__cards {
	display: flex;
	align-items: flex-start;
	gap: 6px;
	margin-bottom: 34px;
}

.threat__card-value {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 10px;
	font-size: 41px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	background-color: #2F2F2F;
	background-image: url('../img/main/threat/threat__card--primary_mask.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
}

.threat__card-value--primary {
	min-width: 154px;
	min-height: 194px;
}

.threat__card-value--secondary {
	min-width: 154px;
	min-height: 118px; 
}

.threat__card-text {
	font-size: 14px;
	line-height: 1.3;
	margin-top: 10px;
}

@media (min-width: 768px) {
	.threat {
		padding: 100px 0 120px;
	}

	.threat__inner {
		max-width: 650px;
		margin: 0 auto;
	}

	.threat__title {
		margin-bottom: 20px;
	}

	.threat__text {
		margin-bottom: 44px;
		font-size: 18px;
		line-height: 1.35;
	}

	.threat__cards {
		gap: 16px;
		margin-bottom: 44px;
	}

	.threat__card {
		display: flex;
		flex-direction: column;
		width: calc(50% - 8px);
	}

	.threat__card-value {
		width: 100%;
		padding: 16px;
		font-size: 52px;
	}

	.threat__value--primary {
		min-height: 230px;
	}

	.threat__value--secondary {
		min-height: 160px;
	}

	.threat__card-text {
		margin-top: 12px;
		font-size: 16px;
		line-height: 1.35;
	}

	.threat__cta {
		font-size: 18px;
		line-height: 1.35;
	}
}

@media (min-width: 1024px) {
	
}

@media (min-width: 1440px) {}